.add_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .add_answer h2 {
    margin-top: 0;
  }
  
  .add_answer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add_answer label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .add_answer select,
  .add_answer textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .add_answer select {
    height: 40px;
  }
  
  .add_answer textarea {
    height: 150px;
  }
  
  .add_answer .add_answer_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }
  
  .add_answer button[type="submit"],
  .add_answer button[type="button"] {
    padding: 10px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .add_answer button[type="submit"]:hover,
  .add_answer button[type="button"]:hover {
    background-color: red;
  }